link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/css/fileinput.css",rel="stylesheet")
link(href="/css/style.css",rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/fileupload/fileinput.js")
script(type='text/javascript', src='/libs/upload/uploadPicture/mobileBUGFix.mini.js')
script(type='text/javascript', src='/libs/upload/uploadPicture/uploadImage.js')
script(type='text/javascript', src='/libs/upload/exif.js')
script(type='text/javascript', src='/js/main.js')

